# gitignore for Conjure

# temporary files
*~
*.swp

# Haskell stuff
*.hi
*.o
dist-newstyle
dist

# Tag files
tags
TAGS

# benches, prototypes and test programs
bench/arith
bench/bools
bench/factorial
bench/ints
proto/u-conjure
test/expr
