# gitignore for Conjure
#
# Part of Conjure, Copyright 2021  Rudy Matela,
# distribued under the 3-clause BSD license.

# temporary files
*~
*.swp
mk/toplibs

# Haskell stuff
*.hi
*.o
dist-newstyle
dist

# Haskell docs
doc/*.html
doc/*.js
doc/*.json
doc/*.css
doc/*.png
doc/src

# Tag files
tags
TAGS

**.runtimes

# benches, prototypes and test programs
eg/arith
eg/bools
eg/count
eg/dupos
eg/either
eg/factorial
eg/fibonacci
eg/fib01
eg/higher
eg/id
eg/ints
eg/gcd
eg/list
eg/maybe
eg/pow
eg/tapps
eg/tree
eg/bst
eg/replicate
eg/setelem
eg/sort
eg/subset
eg/spec
bench/self
bench/longshot
bench/ill-hit
bench/take-drop
bench/lots
bench/p12
bench/p30
bench/candidates
bench/redundants
bench/gps
bench/gps2
bench/lowtests
bench/terpret
bench/weird
proto/u-conjure
test/expr
test/conjurable
test/utils
test/cases
test/defn
test/derive
