# gitignore for Conjure
#
# Part of Conjure, Copyright 2021  Rudy Matela,
# distribued under the 3-clause BSD license.

# temporary files
*~
*.swp
mk/toplibs

# Haskell stuff
*.hi
*.o
dist-newstyle
dist

# Haskell docs
doc/*.html
doc/*.js
doc/*.json
doc/*.css
doc/*.png
doc/src

# Tag files
tags
TAGS

# benches, prototypes and test programs
eg/arith
eg/bools
eg/factorial
eg/ints
eg/list
eg/tapps
bench/self
proto/u-conjure
test/expr
test/conjurable
